# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment
.env
.env.*
**/.env
**/.env.local

# IDE
.vscode/
.idea/

# Build
dist/
build/

# Coverage
coverage/

# Node Modules (extra safety)
**/node_modules/
